<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error!</title>
    <style>
    table, th, td {border: 1px solid black;border-collapse: collapse;}
    </style>
</head>
<body>
    <h2><p>Error! No such Pokemon could be found!</p></h2>
    <img src="{{ url_for('static', filename='images/sad_pikachu.jpg') }}" class="image" width="475" height="475">
    <p><a href = ./> Click here to search again.</a></p>
</body>
</html>